<ng-container class="company-list-container" *ngIf="workersData">

<!--   handle case when employees registerd -->
    <div *ngFor="let employee of workersData">
      <app-worker-details
        (editedWorkerDataEmitted)="handleEditWorkerData($event)"
        (workerNotificationEmitted)="handleWorkerNotification($event)"
        [workerData]="employee"
      ></app-worker-details>
    </div>

<!--   handle case when no employees are registered -->
  <ng-container *ngIf="workersData.length === 0">
    <h1>No employees registered!</h1>
  </ng-container>

</ng-container>
