<ng-container class="company-list-container"
              *ngIf="
              {
              companyEmployees: companySelected$ | async,
              error: companySelectedError$ | async
              } as data,
"
>

  <ng-container *ngIf="data.companyEmployees && data.companyEmployees.length">
    <div *ngFor="let employee of data.companyEmployees">
      <app-worker-details
        [workerData]="employee"
      ></app-worker-details>
    </div>
  </ng-container>

  <ng-container *ngIf="data.companyEmployees?.length === 0">
    <h1>No employees registered!</h1>
  </ng-container>

  <ng-container *ngIf="data.error">
    {{data.error | json}}
  </ng-container>

</ng-container>
