<app-spinner></app-spinner>


<ng-container *ngIf="workerData">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Personal data: {{workerData.name}} {{workerData.surname}}</mat-card-title>
      <mat-card-subtitle>
        <div>
          Company: {{workerData.companyName}}
        </div>
        <div>
          Education: {{workerData.university ? workerData.university : 'No data available'}}
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <div>
        <button mat-button (click)="handleEditWorkerData()">Edit employee data</button>
      </div>

      <div>
        <button mat-button (click)="handleNotifyWorker()">Notify worker</button>
      </div>

      <div>
        <button
          mat-button
          appDeleteWorker
          [workerId]="workerData._id"
        >Delete worker data</button>
      </div>
    </mat-card-actions>

  </mat-card>



</ng-container>
