<ng-container *ngIf="workerData">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{workerData.name}} {{workerData.surname}}</mat-card-title>
<!--       <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
<!--     <mat-card-content> -->
<!--       <p>This card indeterminates progress bar.</p> -->
<!--       <p></p> -->
<!--     </mat-card-content> -->
    <mat-card-actions>
      <button mat-button>Edit employee data</button>
    </mat-card-actions>
  </mat-card>



</ng-container>
