
<ng-container  *ngIf="universitiesObs$() as universities">
  <h1 mat-dialog-title>Employee personal data</h1>

  <mat-dialog-content [formGroup]="workerForm">
    <form >
      <div class="info" >

        <label for="name">First name</label>
        <input
          [formControl]="workerForm.controls.firstName"
          id="name"
          class="fname"
          type="text"
          name="name"
          placeholder="Name">

        <label for="lastName">Last name</label>
        <input
          [formControl]="workerForm.controls.lastName"
          id="lastName"
          type="text"
          name="name"
          placeholder="Surname">


        <label for="education">Education</label>
        <select
          [formControl]="workerForm.controls.university"
          name="education"
          id="education"
        >
          <option  *ngFor="let universityName of universities"
                   value="{{universityName}}"
          >
            {{universityName}}
          </option>
        </select>


        <!--       <input -->
        <!--         id="education" -->
        <!--         [formControl]="workerForm.controls.education" -->
        <!--         type="text" -->
        <!--         name="name" -->
        <!--         placeholder="Education"> -->


        <label for="company">Company</label>
        <input
          id="company"
          [formControl]="workerForm.controls.companyName"
          type="text"
          name="name"
          placeholder="Company Name">
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="handleDataEdit()">Edit</button>
    <button (click)="handleCancel()">Cancel</button>
  </mat-dialog-actions>



</ng-container>
