<ng-container *ngIf="data() as userInfo">
  <app-panel-header [userData]="userInfo['userData']"></app-panel-header>

  <mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav [opened]="true" mode="side" class="sidenav">
    <app-company-list
      (getCompanyWorkersEmitted)="handleGetSelectedCompanyWorkers($event)"
    ></app-company-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-worker-list
      *ngIf="panelService.workersList() as workerData"
      [companySelected]="companySelected"
      [workersData]="workerData"
      (editedWorkerDataEmitted)="handleWorkerEditedData($event)"
      (workerNotificationEmitted)="handleWorkerNotification($event)"
    ></app-worker-list>
  </mat-sidenav-content>
</mat-sidenav-container>

</ng-container>
